h1 {
    color: blue;
  }

  button:hover {
    background-color: red;
    cursor: pointer;
    font-size: 20px;
  }

  #title {
    /*border: solid white 2px;*/

    width: 100%;
    text-align: center;
   padding-top: 200px;
   background-image:url(../images/pexels-campoilucas-1824570.jpg);
  }
  