:root {
  --titleSectionPrimaryColor: white;
  --titleSectionSecondaryColor: rgb(204,165,188);

}


h1 {
    color: var(--titleSectionPrimaryColor);
  }

  .title-section-button {
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    padding: 10px 20px ;
    background-color: transparent;
  }

  .title-section-button:hover {
    background-color: var(--titleSectionPrimaryColor);
    color: var(--titleSectionSecondaryColor);
    cursor: pointer;
    font-size: 10 px;
    
  }

  #title {
    /*border: solid white 2px;*/
    color: var(--titleSectionPrimaryColor);

    width: 100%;
    text-align: center;
   padding-top: 200px;
   background-image:url(../images/pexels-campoilucas-1824570.jpg);
  }
  