h1 {
    color: blue;
  }

  button:hover {
    background-color: red;
    cursor: pointer;
    font-size: 20px;
  }

  #title {
    /*border: solid white 2px;*/

    width: 100%;
    text-align: center;
  }